<table>
    <tr>
        <td><img src="{{randomImage}}.png" class="size-30" alt=""></td>
        <td><img src="{{randomImage2}}.png" class="size-30" alt=""></td>
    </tr>
</table>
<p><a href="/">Back</a></p>